model_config_list {
    config {
        name: 'helloworld'
        base_path: '/tmp/1/'
        model_version_policy: {
            specific {
                versions : 1
                versions : 2
            }
        }
    }
    config {
        name: 'another-model'
        base_path: '/another/path/'
        model_version_policy: {
            all: {}
        }
    }
}